In [58]:
import pandas
movies=open('ml-latest-small/movies.csv','r')
ratings=open('ml-latest-small/ratings.csv','r')
links=open('ml-latest-small/links.csv','r')
tags=open('ml-latest-small/tags.csv','r')

In [98]:
data =pandas.read_csv('ml-latest-small/ratings.csv')
data.filter(items=['movieId', 'rating'])
data.query("rating=='5.0'").groupby(by='movieId').count().idxmax()[0]

318

*Задание 2*

In [114]:
data =pandas.read_csv('power.csv')
data.query("country in ['Lithuania','Latvia','Estonia']").query("category in [4,12,21]").query("year in [2005,2006,2007,2008,2009,2010]").query("quantity>=0").sum()[2]

240580.0

*Задание 3*

In [121]:
pandas.read_html("https://mnogoformul.ru/tablica-sinusov-i-kosinusov/")

[    Угол (градусы) Косинус (Cos)  Синус (Sin)
 0               0°             1            0
 1               1°    0999847695   0017452406
 2               2°    0999390827   0034899497
 3               3°    0998629535   0052335956
 4               4°     099756405   0069756474
 ..             ...           ...          ...
 356           356°     099756405  -0069756474
 357           357°    0998629535  -0052335956
 358           358°    0999390827  -0034899497
 359           359°    0999847695  -0017452406
 360           360°             1            0

 [361 rows x 3 columns]]

*Задание 4*

In [176]:
def rate(a):
    if a>4: return('Высокий рейтинг')
    else:
        if a>2: return('Средний рейтинг')
        else: return('Низкий рейтинг')
    
data =pandas.read_csv('ml-latest-small/ratings.csv')
data.groupby('movieId').mean()['rating']
movies=pandas.read_csv('ml-latest-small/movies.csv')
result=data.groupby('movieId').mean()
result['class']=[rate(a) for a in result['rating']]
result.filter(items=['movieId','rating','class'])

           rating            class
movieId
1        3.920930  Средний рейтинг
2        3.431818  Средний рейтинг
3        3.259615  Средний рейтинг
4        2.357143  Средний рейтинг
5        3.071429  Средний рейтинг
...           ...              ...
193581   4.000000  Средний рейтинг
193583   3.500000  Средний рейтинг
193585   3.500000  Средний рейтинг
193587   3.500000  Средний рейтинг
193609   4.000000  Средний рейтинг

[9724 rows x 2 columns]

*Задание 6*

In [231]:
year=list(range(1950,2011))
year=[str(year)for year in year]
movies=pandas.read_csv("ml-latest-small/movies.csv")
def production_year(a):
    ayear=a[a.rfind('(')+1:a.rfind(')')]
    if ayear in year:
        return(ayear)
    else:return('1900')
movies['year']=[production_year(a) for a in movies['title']]
data =pandas.read_csv('ml-latest-small/ratings.csv')
data=data.groupby('movieId').mean()['rating']
movies=movies.set_index('movieId').join(data)
movies.groupby('year').mean().sort_values('rating',ascending=False)

        rating
year
1971  3.811243
1957  3.767680
1951  3.718044
1952  3.700104
1969  3.682212
...        ...
1992  3.092402
1988  3.060782
1989  3.045879
1987  3.041854
1991  3.030564

[62 rows x 1 columns]