**Задание 1**

In [2]:
import pandas as pd
ratings=pd.read_csv("ml-latest-small/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [49]:
r2=ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})
r2=r2['timestamp']
r2=r2.loc[r2['count']>100]
r2=r2['max']-r2['min']
r2.sum()/r2.count()

40080507.4496124

**Задание 2**

In [113]:
import re
regex_url = r'/\d{8}-'

urls=open("URLs.txt","r")
#db=pd.DataFrame([line for line in urls if re.match(regex_url,line[line.find('/',1):])!=None])
db=pd.read_csv(urls)
db.url
db[db.url.str.contains(regex_url)].head(10)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

**Задание 3**

In [114]:
from pymystem3 import Mystem
m = Mystem()
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data['lemmas']=[m.lemmatize(keyword) for keyword in data['keyword']]
data.head()

                 keyword   shows                                 lemmas
0    курс гривны к рублю  125076  [курс,  , гривна,  , к,  , рубль, \n]
1        доллары в рубли  114173           [доллар,  , в,  , рубль, \n]
2  100 долларов в рублях   97534   [100,  , доллар,  , в,  , рубль, \n]
3             курс рубля   53546                   [курс,  , рубль, \n]